body{
    background-color: aquamarine;

}

h2{
background-color: azure;
    color:red
}

p{
    background-color: salmon;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li{
background-color: salmon;
}

